/* Default */
:root {
  --primary-color: #222;
  --secondary-color: rgb(43, 43, 43);
  --contrast-color: rgb(235, 235, 235);
  --box-shadow-color: rgba(0,0,0,0.4);
  --highlight-color: rgb(127, 0, 211);
  --highlight-color-darken: rgb(107, 0, 179);
  --dark-color: #111;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html, body, #app, body > div {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--primary-color);
  backdrop-filter: contrast(.9);
  -webkit-backdrop-filter: contrast(.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

body > div {
  max-width: 1366px;
}

#app {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  display: flex;
  flex-direction: column;
}

/* Title */
.title {
  background-color: var(--secondary-color);
  padding: 15px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 3px 7px 0px var(--box-shadow-color); 
  box-shadow: 0px 3px 7px 0px var(--box-shadow-color);
  font-weight: normal;
}

.title svg {
  margin-right: 10px;
  transform: scale(1.5);
}

/* Content */
.content {
  flex: 1;
  height: calc(100% - 150px);
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content h2 {
  font-size: 1.275rem;
}

.trick-list {
  border-radius: 10px;
  background-color: var(--secondary-color);
  padding: 15px;
  font-size: .9rem;
}

.trick-list li {
  margin-bottom: 5px;
}

.trick-list li span {
  font-weight: bold;
  font-size: 1.175em;
}

/* Dice */
.dice-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
}

.dice {
  cursor: pointer;
  height: 50px;
  width: 175px;
  border: none;
  border-radius: 30px;
  background-color: var(--highlight-color);
  color: var(--contrast-color);
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 150ms ease-in-out;
}

.dice:hover, .dice:active {
  background-color: var(--highlight-color-darken);
}

/* History */
.open-history {
  margin-top: 15px;
  margin-bottom: 5px;
  transform: translateX(-20px);
  padding: 5px;
  background-color: var(--dark-color);
  width: 55px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  position: relative;
}

.tooltip {
  padding: 5px 10px;
  font-size: .9rem;
  position: absolute; 
  background-color: var(--dark-color);
  border-radius: 10px;
  width: 230px;
  max-width: 230px;
  right: -237px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0 10px 0px var(--box-shadow-color);
}

.history-container {
  margin-bottom: 15px;
  flex: 1;
  max-height: 200px;
}

.history-title {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 10px;
}

.history-icon {
  margin-right: 5px; 
}

.history-icon svg {
  fill: var(--contrast-color);
  transform: translateY(2px)
}

.history-content {
  border: 1px solid var(--secondary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 48px);
  background-color: var(--primary-color)
}

.history-content li {
  padding: 10px 15px;
  border-bottom: 1px solid var(--secondary-color)
}

.history-content li:last-child {
  border-bottom: unset;
}

.history-content ul {
  font-size: .8rem;
}

.history-content ul li > span {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 10px 0 5px;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px -3px 7px 0px var(--box-shadow-color); 
  box-shadow: 0px -3px 7px 0px var(--box-shadow-color);
  padding: 10px;
  font-size: .9rem;
  text-align: center;
}